<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Badlee</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.6</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.313606915067-i72240rundelu272h0rumc5m6e4s23d7</string>
				<string>fb329124437485339</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>329124437485339</string>
	<key>FacebookDisplayName</key>
	<string>Badlee</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
        <string>fb</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.5.6</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Badlee is using your camera for user purpose to take their photo</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App uses the gps coordinates from the users to help them view the contents of the users near their location, this helps a user to easily view the content of other users in the sae location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App uses the gps coordinates from the users to help them view the contents of the users near their location, this helps a user to easily view the content of other users in the sae location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App uses the gps coordinates from the users to help them view the contents of the users near their location, this helps a user to easily view the content of other users in the sae location.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Badlee is using your liberary to save image taken from camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Badlee is using your liberary to save image taken from camera</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
